<% provide(:title, 'Contact') %>

<div class="row">
  <div class="col-md-12">
    <h1>Contact Us</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h3>We'd love to hear from you. Drop us a line and we'll get back to you ASAP!</h3>
  </div>
</div>
<hr>
<div class="form-horizontal" role="form">
  <%= simple_form_for @contact, defaults: { html: { class: 'form-group col-sm-10' } } do |form| %>
    <%= form.error_notification %>
    <%= form.input :name, label: 'Name', placeholder: 'Your name', autofocus: true %>
    <%= form.input :email, label: 'Email', placeholder: '<user@domain.com>' %>
    <%= form.input :content, label: 'Message', placeholder: 'What\'s on your mind?', as: :text %>
    <%= form.button :submit, value: 'Send', class: 'btn btn-primary col-md-offset-2' %>
  <% end %>
</div>